<div>
    <app-spare-part-navbar></app-spare-part-navbar>

    <ng-container>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Program</th>
                        <th>Design</th>
                        <th>Development</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>
