<header class="container-lg">
  <nav class="navbar navbar-expand-sm bg-ligth navbar-ligth justify-content-between">
    <a href="#" class="navbar-brand">AIRBUS</a>
    <div class="d-flex justify-content-between w-100">
      <ul class="navbar-nav">
        <li class="nav-item"> <a routerLink="/aircrafts" class="nav-link">Aircrafts</a> </li>
        <li class="nav-item"> <a routerLink="/alert" class="nav-link">Alert</a> </li>
        <li class="nav-item"> <a routerLink="/illustration" class="nav-link">Ngrx Illustration</a> </li>
      </ul>
      <div>
        <app-auth></app-auth>
      </div>
    </div>

  </nav>
</header>

<main class="container-lg">
  <router-outlet></router-outlet>
</main>

<footer>

</footer>